<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <!-- header files -->
  {% include 'base/header.html' %}
  <!-- header files -->

  <body>
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->

    <div id="wrapper" class="wrapper bg-ash">
      <!-- header and nav start-->
      {% include 'base/navbar.html' %}
      <!-- END nav -->

      {% block content %} {% endblock %}

    </div>

    <!-- JS files -->
    {% include 'base/js.html' %}
    <!-- JS files -->
  </body>
</html>
