{% load static %}

<!-- jquery-->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Select 2 Js -->
<script src="{% static 'js/select2.min.js' %}"></script>
<!-- Data Table Js -->
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<!-- Counterup Js -->
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<!-- Moment Js -->
<script src="{% static 'js/moment.min.js' %}"></script>
<!-- Waypoints Js -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!-- Scroll Up Js -->
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<!-- Full Calender Js -->
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
<!-- Chart Js -->
<script src="{% static 'js/Chart.min.js' %}"></script>
<!-- Custom Js -->
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>